<form action="/add" method="">  
<!-- o action serve para redicionar a pág para uma rota em específica , assim como os dados --> 
<!-- No HTML há apenas dois method, POST E GET  , mas qual A DIFERENÇA? -->
<!-- o GET envia os DADOS pela URL ->É perigoso!!  -->
<!-- o POST envia OS DADOS de forma diferente -->
    <p>Título:</p>
    <input type="text" name="titulo">
    <p>Conteúdo</p>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>